* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  padding: 0.5rem;
}

section {
  margin: 1rem;
}

button {
  margin: 0.5rem 0;
  padding: 0.5rem;
}

button + button {
  margin: 0 0.5rem;
}

main {
  border: medium solid black;
  background-color: hsl(120, 100%, 25%, 0.75);
  color: orange;
}

section {
  border: medium solid black;
  background-color: hsl(240, 100%, 50%, 0.5);
  color: lightblue;
}

section > section {
  border: medium solid black;
  background-color: hsl(60, 100%, 50%, 0.85);
  color: brown;
}

div {
  background-color: orchid;
  color: purple;
}

div > section > button {
  margin: 0.5rem 1rem;
}
