* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
  padding: 0.5rem;
}

section {
  margin: 1rem;
}

button {
  margin: 0.5rem 0;
  padding: 0.5rem;
  background-color: hsl(108, 39%, 75%, 0.75);
}

button + button {
  margin: 0 0.5rem;
}

main {
  border: medium solid darkslateblue;
  background: linear-gradient(
    135deg,
    hsl(120, 100%, 25%, 0.75),
    hsl(20, 100%, 75%, 0.75),
    hsl(320, 100%, 25%, 0.75)
  );
  color: orange;
}

section {
  border: medium solid black;
  background-color: hsl(240, 100%, 50%, 0.5);
  color: lightblue;
}

section > section {
  border: medium solid black;
  background-color: hsl(60, 100%, 50%, 0.85);
  color: brown;
}

div {
  background-color: hsl(302, 59%, 65%, 0.5);
  color: purple;
}

div > section > button {
  margin: 0.5rem 1rem;
}

main div div {
  border: medium solid red;
  margin: 1rem;
}

main div div button {
  margin: 0.5rem 1rem;
}

main span {
  border: medium solid black;
  width: fit-content;
  margin: auto;
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
}
